.container {
    display: flex;
    border-radius: .15rem;
    border: .1rem solid #a4b0be;
    height: 6vh;
}

.button_minus {
    margin:0;
    border: 0;
    border-radius: 0;
    height: 100% !important;
    position: relative;
}

.button_minus::after {
    content: '';
    position: absolute;
    right: 0;
    height: 80%;
    width: .1rem;
    border-radius: .15rem;
    background-color: #a4b0be;
}

.button_plus {
    margin: 0;
    border: 0;
    border-radius: 0;
    height: 100% !important;
    position: relative;
}

.button_plus::after {
    content: '';
    position: absolute;
    left: 0;
    height: 80%;
    width: .1rem;
    border-radius: .15rem;
    background-color: #a4b0be;
}